# Subreddit name, without the /r/ part. Setting this to None will have the
# script go through your submissions instead. This automatically sets the
# USE_DELETE option to True.
SUBREDDIT = "BitwiseShiftTest"
# After how long posts get deleted. The given example will delete posts that are
# 2 days old. To delete any posts, regardless of age, simply set all values to 0.
REMOVE_AFTER = timedelta(weeks=0, days=0, hours=0, minutes=0)
REMOVE_MODERATOR_POSTS = True		# Whether to delete moderator posts.
# The following list, along with IGNORE_FILTERS will determine which submissions
# get deleted. Notice how None means that the property is ignored, while an
# empty string means that it matches submissions that don't have it set. Be sure
# you understand the difference.
DELETE_FILTER = [
	# Delete all posts, regardless of flairs.
	{"class": None, "text": None}
]
# Ignores certain flairs even if they are matched by the ONLY_DELETE lists before.
IGNORE_FILTER = [
	# Deletes posts that have both the given flair class and text.
	{"class": "SOME_CSS_CLASS", "text": "SOME_FLAIR_CLASS"},
]
# There are two ways of removing a comments. If this option is False, it will
# act as a moderator removing comments from their subreddit. If this is true,
# it will act as a user deleting his own comments. This will however not delete
# comments that have already been removed by a moderator.
USE_DELETE = True
